*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:black;
    color:white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color:white;
    text-decoration:none;
}

ul{
    list-style: none;
}

.container{
    width:90%;
    margin:auto;

}

.main{
    font: size 17px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;

}

.nav-brand{
    width:50px;
}

.main ul{
display: flex;
}

.main ul li{
    padding:10px;
}
.main ul.nav-menu{
flex:1px;
margin-left:20px;
}

.main ul li a:hover{
    border-bottom: 2px solid #ffffff;
}

.menu-btn{
    position:absolute;
    cursor: pointer;
    top: 15px;
    right:30px;
    z-index:2;
    font-size: 1.6rem;
    display:none;
    

}


/*Show case-*/

.showcase{
    width:100%;
    height:550px;
    background: url('./img/showcase2.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom:20px;
}

.showcase h2{
    text-align: center;
    padding: 5px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border:0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size:15px;
    border:1px solid #ffffff;
    margin: 10px;
}

.btn:hover{
    opacity: 0.5;
}

/*News cards */
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.card img{
    width:100%;
    height:180px;
    padding: 25px;
}
 
.card p{
    padding: 25px;
}

.card h3{
    font-size: 20px;
    margin: 10px 0;
}

.card a{
    padding: 10px 0;
    columns: #ffffff;
    text-transform: uppercase;
    display:inline-block;
    font-weight: bold;

}

.card a:hover{
    text-decoration:underline;

}

/* banner */
.banner{
    width: 100%;
    height: 350px;
    background: url('./img/tech-red.jpg');
    margin-bottom: 40px;
    }

    .banner .content{
        width:40%;
        padding:90px 0 0 30px;
        color:#ffffff;
    }

.banner2{
    width: 100%;
    HEIGHT: 350px;
    background: url('./img/image-five.jpg') no-repeat center center/cover;

}

.banner2 .content{
    
        width:40%;
        padding:90px 0 0 30px;
        color:#ffffff;
    
}

.social{
    margin:50px 0;
    font-size:30px;
    text-align: center;

}

.links{
    display: flex;
    align-items: center;
    justify-content:center;
}

.links a{
    margin: 10px 20px;
}


/*footer*/
.footer{
    background:gray;
    color: #616166;
    font-size:12px;
    padding:35px 0;

}


.footer-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content:center;

}

.footer-container ul{
    margin:0 auto;
}

.footer-container ul li{
    line-height: 2;
}

.footer1{
background: #2f2f2f;
color: #616161;
font-size: 12px;
padding:20px 0;
text-align:center;
padding-bottom: 20px;
}

@media (max-width:700px){
    .main ul.nav-menu{

        display: block;
        position:absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height:100%;
        padding: 30px ;
        opacity:.9;
        transform: translateX(-400px);
        transition:transform .5s ease-in-out;
    }

    .main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .main ul.nav-menu li{
        padding: 20px;
        border-bottom: 2px solid white;
    }

    .card
    {grid-template-columns:repeat(2, 1fr)}
    .banner .content,
    .banner2 .content{
        width:80%;
    }

    .footer .footer-container {
        grid-template-columns: repeat(2,1fr);

    }

    .main ul.nav-menu-right{
        position:absolute;
        margin-left: 370px;
        margin-top: 8px;
    }

    .menu-btn{
        display: block;
    }




}

@media (max-width:500px){
    .card{
        grid-template-columns:1fr
    }

    .card img{
        height: 300px;
    }

    .banner .content,
    .banner2 .content{
        width:100%;
    }

    .footer .footer-container{
        grid-template-columns: 1fr;
    }
}